<div class="center align">
    <div class="ui secondary menu">
        <a class="item" href="#"><i class="home icon"></i>Home</a>
        <a class="item" href="#">Most Popular Excuses</a>
        <a class="item" href="#">Most Embarrassing Excuses</a>
        <a class="item" href="#">Most Hilarious Excuses</a>
        <a class="item" href="#">Most Cringy Excuses</a>
        <div class="right menu">
            <div data-role="main" class="ui-content">
                <a href="#myPopup" data-rel="popup" data-position-to="window" class="ui-btn ui-btn-inline ui-corner-all  ui-btn-icon-left">Login</a>
                <div data-role="popup" id="myPopup" data-overlay-theme="a" class="ui-content" style="min-width:250px;">
                    <form method="post" action="">
                        <div>
                            <h3>Login information</h3>
                            <label for="userName" class="ui-hidden-accessible">Username:</label>
                            <input type="text" name="user" id="userName" placeholder="Username">
                            <label for="passwd" class="ui-hidden-accessible">Password:</label>
                            <input type="password" name="passw" id="passwd" placeholder="Password">
                            <input type="submit" id="submitLogin" data-inline="true" value="Log in">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="ui grid">
    <div class="row">
        <div class="column padding-reset">
            <div class="ui huge message page grid">
                <h1 class="ui huge header">Sharing excuses for missing class</h1>
                <p></p>
            </div>
        </div>
    </div>
</div>

<main>
    <div class="postPopup">
        <div data-role="main" class="ui-content">
            <a href="#myPopup3" data-rel="popup" data-position-to="window" class="ui-btn ui-btn-inline ui-corner-all">Post</a>
            <div data-role="popup" id="myPopup3" data-overlay-theme="a" class="ui-content" style="min-width:750px;">
                <form method="post" action="">
                    <div class="ui form">
                        <div class="fields">
                            <div class="ten wide field">
                                <label>Title</label>
                                <input type="text" id="postTitle" placeholder="Title for excuse">
                            </div>
                            <div class="five wide field">
                                <label>Post As</label>
                                <input type="text" id="postMaker" placeholder="post as">
                            </div>
                        </div>
                        <div class="field">
                            <label>Tell us your excuse:</label>
                            <textarea id="postExcuse"></textarea>
                        </div>
                        <p></p><button class="ui teal button" id="submitExcuse">Submit</button>
                        <p></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
    <div class="ui accordian">
        <div id="excusePosts">
        </div>
    </div>
    <p></p>
</main>
