{{#if errors}}
  {{#each errors}}
    <div class="ui warning message centered">{{msg}}</div>
    {{/each}}
  {{/if}}

  <!-- User Login Form -->
<div class="ui one column stackable center aligned page grid">
    <div class="column eight wide">
      <h2 class="ui header">Login</h2>
        <form class="ui form" method="post" action="/users/login">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button class="ui blue button" type="submit">Submit</button>
        </form>
    </div>
</div>
